*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.panneau{
    width: 150px;
    height: 450px;
    background-color: black;
}
.feuRouge{
    border-radius: 100%;
    background-color: red;
}.feuOrange{
    border-radius: 100%;
    background-color: orange;
}
.feuVert{
    border-radius: 100%;
    background-color: green;
}

.dpTraffic {
    width: 150px;
    height: 150px;
}